.App {
  background: #61dafb2f;
  font-family: sans-serif;
}

.card-body {
  flex: none
}

.pagination {
  justify-content: center;
}

a {
  font-size: 30px;
  margin-right: 20px;
  margin-top: 5px;
  text-decoration: none;
}
.btn-danger{
  background: rgba(224, 45, 13, 0.852);
  border-radius: 20px;
}
.btn-danger:hover, .btn-danger:active{
  background: rgba(224, 45, 13, 0.852);
  border-radius: 20px;
}